img{
    width: 250px;
    height: 200px;
}
body{
    margin: 0px;
    padding: 0px;
}
main{
    padding: 16px;
}
footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}
nav{
    border-bottom: 1px black;
    padding: 16px;
}
